<div class="col-sm-3 mb-3 mb-sm-2">
  <div class="card" style="background-color: <%= note.color.downcase %>;">
    <div class="card-body" id='note_div'  id="car-<%= note.id %>" data-note-id="<%= note.id %>" >
      <div class="row">
        <div class="col">
          <strong><%= note.title %></strong>
          <h7>card-<%= note.id %></h7>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= (note.content).truncate(200) %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <% note.labels.each do |label| %>
              <li><%= label.label_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav-item dropdown px-2">
      <a class="nav-link dropdown-toggle" href="#" role="button"     data-bs-toggle="dropdown" aria-expanded="false">
              <strong>more..</strong>
      </a>
      <ul class="dropdown-menu">
        <% if note.stage == "notdel" %>
          <li>
            <%= link_to 'Create Copy', copy_note_path(note), method: :post%>
          </li>
          <li>
            <%= link_to 'Delete Note', [:soft_delete, note], method: :put %>
          </li>
            <% if note.status == "active" %>
              <li>
                <%= link_to 'Archived', [:archive, note], method: :put %>
              </li>
            <% else %>
              <li>
                <%= link_to 'UnArchived', [:notarchive, note], method: :put %>
              <li>
            <% end %>
            <% if note.pin %>
              <li>
                <%= link_to 'UnPin', [:unpinned, note], method: :put %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Pin', [:pinned, note], method: :put %>
              </li>
            <% end %>
        <% else %>
          <li>
            <%= link_to 'Restore', [:restore, note], method: :put %>
          </li>
          <li>
            <%= link_to 'Destroy', note_path(note),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    </ul>
  </div>
</div>
