<%= form_for @note do |f| %>
  <div style="background-color: <%= @note.color.downcase %>;", class = T >
    Title: <%= f.text_field :title %>
    Content: <%= f.text_area :content %>
    Color: <%= f.select :color , options_for_select(Note::COLOR_TYPE, selected:@note.color) %>
    Image: <%= f.file_field :image %>
    <h3>Label</h3>
    <ul>
      <% @note.labels.each do |label| %>
        <li><%= label.label_name %></li>
      <% end %>
    </ul>
    <% if @note.image.attached? %>
      <%= image_tag (@note.image) , height: 100 , width: 200 %>
    <% end %>

    <% if @note.pin == 'no' && @note.stage == 'notdel' && @note.status =='active' %>
      <table>
        <td><h3><%= link_to "Edit", edit_note_path(@note) %> </h3></td>
        <td><%= link_to 'Archived', [:archive, @note], method: :put %></td>
        <td><%= link_to 'Delete', [:soft_delete, @note], method: :put %></td>
        <td><%= link_to 'Pin', [:pin, @note], method: :put %></td>
        <%= link_to "Edit Color", edit_note_path(@note) %>
      </table>
      <%= form_for @note, url: {action: "add_label"} do |form| %>
        <%= form.collection_select(:label_ids, Label.all, :id, :label_name, {}, { multiple: true }) %>
        <br>
        <%= form.submit "Add label" %>
      <% end %>
    <% end %>

    <% if @note.pin == 'yes' && @note.stage == 'notdel' && @note.status =='active'  %>
      <table>
      <td><h3><%= link_to "Edit", edit_note_path(@note) %> </h3></td>
      <td><%= link_to 'Archived', [:archive, @note], method: :put %></td>
      <td><%= link_to 'Delete', [:soft_delete, @note], method: :put %></td>
      <td><%= link_to 'NotPin', [:notpin, @note], method: :put %></td>
      <%= link_to "Edit Color", edit_note_path(@note) %>
      </table>
      <%= form_for @note, url: {action: "add_label"} do |form| %>
        <%= form.collection_select(:label_ids, Label.all, :id, :label_name, {}, { multiple: true }) %>
        <br>
        <%= form.submit "Add label" %>
      <% end %>
    <% end %>

    <% if @note.stage == 'del' %>
      <table>
        <td><%= link_to 'Restore', [:restore, @note], method: :put %></td>
        <td><%= link_to 'Destroy', note_path(@note),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </table>
    <% end %>

    <% if  @note.stage == 'notdel' && @note.status =='archived' %>
      <td><%= link_to 'Delete', [:soft_delete, @note], method: :put %></td>
      <td><h3><%= link_to "Edit", edit_note_path(@note) %> </h3></td>
      <td><%= link_to 'Not_Archived', [:notarchive, @note], method: :put %></td>
      <%= link_to "Edit Color", edit_note_path(@note) %>
      <%= form_for @note, url: {action: "add_label"} do |form| %>
        <%= form.collection_select(:label_ids, Label.all, :id, :label_name, {}, { multiple: true }) %>
        <br>
        <%= form.submit "Add label" %>
      <% end %>
      <% end %>
    <%= f.submit "update" %>
  </div>
<% end %>
