<div class='container'>
  <div class='row'>
    <div class='col col-lg-2'>
      <%= content_for (:sidebar) do %>
        <%= render :partial => "layouts/sidebar" %>
      <% end %>
    </div>
    <div class='col col-lg-10'>
      <div class="row">
        <div class='col col-lg-3'>
        </div>
        <div class='col col-lg-7' id = "cracker1-button">
          <%= link_to new_note_path , remote: true do %>
            <table class="table table-bordered">
              <tr>
                <td>Take a note... </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
      <div class='row'>
        <div class='col col-lg-2'>
          <h4>Pinned</h4>
        </div>
      </div>
      <div class="row">
        <% (@notes.active & @notes.notdel & @notes.pinned).each_with_index do |note , index| %>
          <div class=" col-sm-3  note_div" data-note-id="<%= note.id %>" id="card-<%= note.id %>">
              <%= render partial: "note" , locals: { note: note} %>
          </div>
          <% if (index + 1) % 4 == 0 %>
            <div class="row"></div>
          <% end %>
        <% end %>
      </div>
      <div class='row'>
        <div class='col col-lg-2'>
          <h4>Others</h4>
        </div>
      </div>

      <div class="row">
        <% (@notes.active & @notes.notdel & @notes.unpinned).each_with_index do |note , index| %>
          <div class=" col-sm-3  note_div" data-note-id="<%= note.id %>" id="card-<%= note.id %>">
              <%= render partial: "note" , locals: { note: note} %>
          </div>
          <% if (index + 1) % 4 == 0 %>
            <div class="row"></div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
