<div class="container">
  <div class="row">
    <div class="col col-lg-2">
      <%= content_for (:sidebar) do %>
        <%= render :partial => "layouts/sidebar" %>
      <% end %>
    </div>
    <div class="col col-lg-10">
      <div class="row">
        <div class="col col-lg-3">
        </div>
        <div class="col col-lg-9"  id = "underline">
          <%= link_to new_note_path , remote: true do %>
            <table class="table table-bordered">
              <tr>
                <td>Take a note... </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-2">
          <h4>Pinned</h4>
        </div>
      </div>
      <div class= "row" class="rounded-0">
        <% (@notes.active & @notes.notdel & @notes.pinned).each do |note| %>
          <div class="col-sm-3 mb-3 mb-sm-2" id="card-<%= note.id %>" >
            <div class="card" style="background-color: <%= note.color.downcase %>;">
              <div class="card-body" id="note_div" data-note-id="<%= note.id %>">
                <%#= link_to note_path(note) , remote: true do %>
                  <div class="row" >
                    <div class="col">
                      <strong><%= note.title %></strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= (note.content).truncate(200) %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <% note.labels.each do |label| %>
                          <li><%= label.label_name %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <%# end %>
              </div>
              <ul class="nav-item dropdown px-2">
                  <a class="nav-link dropdown-toggle" href="#" role="button"    data-bs-toggle="dropdown" aria-expanded="false">
                          <strong>more..</strong>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to 'Create Copy', copy_note_path(note), method: :post%>
                    </li>
                    <li>
                      <%= link_to 'Delete Note', [:soft_delete, note], method: :put %>
                    </li>
                    <li>
                      <%= link_to 'Archived', [:archive, note], method: :put %>
                    </li>
                    <li>
                      <%= link_to 'UnPin', [:unpinned, note], method: :put %>
                    </li>
                  </ul>
                </ul>
            </div>
          </div>
        <% end %>
      </div>
      <%= render "note", note: @note %>
      <div class="row" >
        <div class="col col-lg-2">
          <h4>Others</h4>
        </div>
      </div>
      <div class="row" class="rounded-0">
        <% (@notes.active & @notes.notdel & @notes.unpinned).each  do |note| %>
          <div class="col-sm-3 mb-3 mb-sm-2" id="card-<%= note.id %>">
            <div class="card"  style="background-color: <%= note.color.downcase %>;" >
              <div class="card-body" id="note_div" data-note-id="<%= note.id %>">
                <%#= link_to note_path(note) , remote: true do %>
                  <div class="row" >
                    <div class="col " >
                      <strong><%= note.title %></strong>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col">
                      <%= note.content %>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col">
                      <ul>
                        <% note.labels.each do |label| %>
                          <li><%= label.label_name %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <%# end %>
              </div>
              <ul class="nav-item dropdown px-2" >
                <a class="nav-link dropdown-toggle" href="#" role="button"    data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>more..</strong>
                </a>
                <ul class="dropdown-menu" >
                  <li>
                    <%= link_to 'Create Copy', copy_note_path(note), method: :post%>
                  </li>
                  <li>
                    <%= link_to 'Delete Note', [:soft_delete, note], method: :put %>
                  </li>
                  <li>
                    <%= link_to 'Archived', [:archive, note], method: :put %>
                  </li>
                  <li>
                    <%= link_to 'Pin', [:pinned, note], method: :put %>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id='mynote'></div>
<div id='mylabel'></div>

<div class = "row" >
  <div class = "col" >
    <%= link_to 'Restore', [:restore, note], method: :put %>
  </div>
  <div class = "col" >
  <%= link_to 'Destroy', note_path(note),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </div>
</div>




---------------

def create
  @note = Note.new(note_params)
  if @note.save
    redirect_to notes_path
  else
    render :new
  end
end


------------

# $('#mynote').html.prepend("<%= j render 'new', note: @note %>");
# $('#new').modal('show');



$('#mynote').html("<%= j render 'form', note: @note %>");
$('#form').modal('show')




$(document).on('click', '#note_div', function(e) {
  e.preventDefault();
  var noteId = $(this).data('note-id');
  var newContent = $('#note-content').val();
  $.ajax({
      type: 'PATCH',
      url: '/notes/' + noteId,
      method: 'GET',
      data: { note: { content: newContent }},
      success: function(data) {
        if (data.success) {
        $('#card-' + noteID).text(data.content);
        $('#card-' + noteID).text(data.title);
      }
        $('#mynote').html("<%= j render 'form', note: @note %>");
        $('#form').modal('hide');
      },
  });
});







class NotesController < ApplicationController
  def index
    @new_note = Note.new
    @labels = Label.all
    if params[:query].present?
      @notes = Note.where("title ILIKE ? OR content LIKE ? ","%#{params[:query]}%", "%#{params[:query]}%" )
    else
      @notes = Note.order('created_at DESC')
      # @notes = Note.all
      # @notes = Note.where(stage:"notdel" , status: "active").order(pin: :desc)
    end
  end

  def show
    @note = Note.find_by(unique_id: params[:unique_id])
    #  @note = Note.find(params[:id])
    #   respond_to do |format|
    #   format.js
    # end
  end

  def new
    @notes = Note.all
    @labels = Label.all
    @note = Note.new
    # @note.uid = SecureRandom.uuid
  end

  # def create
  #   @note = Note.new(note_params)

  #   if @note.save
  #     # flash[:success] = 'Note was successfully created.'
  #     # @notes = [note] + Note.order(created_at: :desc)
  #     redirect_to notes_path
  #   else
  #     render 'new'
  #   end
  # end

  def create
    # @note = Note.new(note_params)
    @note.unique_id= SecureRandom.hex(6) # unique ID generate karne ke liye
    if @note.save
      redirect_to notes_path
    else
      render 'new'
    end
  end


  def edit
      @note = Note.find_by(unique_id: params[:id])
      # respond_to do |format|
      #   format.js { render partial: 'edit', locals: { note: @note } }
      # end
  end


  def update
    @note = Note.find_by(unique_id: params[:id])

    if @note.update(note_params)
      redirect_to notes_path
      # render partial: 'note', locals: { note: @note }
    else
      # Handle the case where the note fails to update
      render plain: 'Failed to update note', status: :unprocessable_entity
    end
  end

  def destroy
    @note = Note.find(params[:id])
    @note.destroy
    redirect_to notes_bin_path :id
  end

  def archive
    @note = Note.find(params[:id])
    @note.update(status: 'archived')
    @note.update(pin: 'false')
    redirect_to :notes, notice: 'Successfully Archived'
   end

  def notarchive
    @note = Note.find(params[:id])
    @note.update(status: 'active')
    redirect_to :notes, notice: 'Successfully restored'
  end

  def soft_delete
    @note = Note.find(params[:id])
    @note.update(stage: 'del')
    redirect_to :notes, notice: 'Successfully'
  end

  def restore
    @note = Note.find(params[:id])
    @note.update(stage: 'notdel')
    redirect_to :notes_bin, notice: 'Successfully restored'
  end

  def pinned
    @note = Note.find(params[:id])
    @note.update(pin: 'true')
    @note.update(updated_at:Time.now)
    redirect_to :notes
  end

  def unpinned
    @note = Note.find(params[:id])
    @note.update(pin: 'false')
    redirect_to :notes
  end

  def archived
    @notes = Note.all
    @labels = Label.all
    if params[:query].present?
      @notes = Note.where("(title.upcase LIKE ? OR lower(content) LIKE ? ","%#{params[:query]}%", "%#{params[:query]}%")
    else
      @notes = Note.all
    end
  end

  def bin
    @notes = Note.all
    @labels = Label.all
    if params[:query].present?
      @notes = Note.where("title LIKE ? OR content LIKE ? ","%#{params[:query]}%", "%#{params[:query]}%" )
    else
      @notes = Note.all
    end
  end

  def show_label
    @notes = Note.all
    @labels = Label.all
  end

  def active
    @notes = Note.all
  end

  def add_label
    @note = Note.find(params[:id])
    @labels = Label.where(id: params[:note][:label_ids])
    @note.labels = @labels
    redirect_to :notes
  end

  def copy
    @note = Note.find(params[:id])
    @new_note = @note.dup
    @new_note.pin = false
    if @new_note.save
      redirect_to notes_path, notice: 'Note was successfully copied.'
    else
      redirect_to labels_path, alert: 'Failed to copy note.'
    end
  end

  def delete_image
    @note = Note.find(params[:id])

    begin
      @note.image.purge
      flash[:success] = "Image deleted successfully."
    rescue => e
      flash[:error] = "Failed to delete the image: #{e.message}"
    end

    redirect_to :notes
  end

  def delete_background_image
    @note = Note.find(params[:id])

    begin
      @note.image.purge
      flash[:success] = "Image deleted successfully."
    rescue => e
      flash[:error] = "Failed to delete the image: #{e.message}"
    end

    redirect_to :notes
  end

  private
    def set_note
      @note = Note.find(params[:id])
    end

    def note_params
      params.require(:note).permit(:title, :content ,:label_id,:color,:state , :status ,:pin , :image ,:background_image,:deleted_at, :unique_id)
    end
end



----------------------------------------------------

<%= form_for @note do |f| %>
  <div style="background-color: <%= @note.color.downcase %>;", class = T >
    Title: <%= f.text_field :title %>
    Content: <%= f.text_area :content %>
    Color: <%= f.select :color , options_for_select(Note::COLOR_TYPE, selected:@note.color) %>
    Image: <%= f.file_field :image %>
    <h3>Label</h3>
    <ul>
      <% @note.labels.each do |label| %>
        <li><%= label.label_name %></li>
      <% end %>
    </ul>
    <% if @note.image.attached? %>
      <%= image_tag (@note.image) , height: 100 , width: 200 %>
    <% end %>

    <% if @note.pin == 'no' && @note.stage == 'notdel' && @note.status =='active' %>
      <table>
        <td><h3><%= link_to "Edit", edit_note_path(@note) %> </h3></td>
        <td><%= link_to 'Archived', [:archive, @note], method: :put %></td>
        <td><%= link_to 'Delete', [:soft_delete, @note], method: :put %></td>
        <td><%= link_to 'Pin', [:pin, @note], method: :put %></td>
        <%= link_to "Edit Color", edit_note_path(@note) %>
      </table>
      <%= form_for @note, url: {action: "add_label"} do |form| %>
        <%= form.collection_select(:label_ids, Label.all, :id, :label_name, {}, { multiple: true }) %>
        <br>
        <%= form.submit "Add label" %>
      <% end %>
    <% end %>

    <% if @note.pin == 'yes' && @note.stage == 'notdel' && @note.status =='active'  %>
      <table>
      <td><h3><%= link_to "Edit", edit_note_path(@note) %> </h3></td>
      <td><%= link_to 'Archived', [:archive, @note], method: :put %></td>
      <td><%= link_to 'Delete', [:soft_delete, @note], method: :put %></td>
      <td><%= link_to 'NotPin', [:notpin, @note], method: :put %></td>
      <%= link_to "Edit Color", edit_note_path(@note) %>
      </table>
      <%= form_for @note, url: {action: "add_label"} do |form| %>
        <%= form.collection_select(:label_ids, Label.all, :id, :label_name, {}, { multiple: true }) %>
        <br>
        <%= form.submit "Add label" %>
      <% end %>
    <% end %>

    <% if @note.stage == 'del' %>
      <table>
        <td><%= link_to 'Restore', [:restore, @note], method: :put %></td>
        <td><%= link_to 'Destroy', note_path(@note),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </table>
    <% end %>

    <% if  @note.stage == 'notdel' && @note.status =='archived' %>
      <td><%= link_to 'Delete', [:soft_delete, @note], method: :put %></td>
      <td><h3><%= link_to "Edit", edit_note_path(@note) %> </h3></td>
      <td><%= link_to 'Not_Archived', [:notarchive, @note], method: :put %></td>
      <%= link_to "Edit Color", edit_note_path(@note) %>
      <%= form_for @note, url: {action: "add_label"} do |form| %>
        <%= form.collection_select(:label_ids, Label.all, :id, :label_name, {}, { multiple: true }) %>
        <br>
        <%= form.submit "Add label" %>
      <% end %>
      <% end %>
    <%= f.submit "update" %>
  </div>
<% end %>




<div class="card" style="background-color: <%= note.color.downcase %>;">
    <div class="card-body" id="note_div"  id="card-<%= note.id %>" data-note-id="<%= note.id %>" data-target = "card-<%= note.id %>" >
